
@import url('signup.css'); 
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  font-family: "montserrat" ,"sans serif";
}
input{
  transition: .1s !important;
}

body{
  background-image: url(../img/white_wall_hash.png);
  background-position:center ;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

#body-bg{
  position: absolute;
  width:100%;
  aspect-ratio: 1;
  background-color: rgba(var(--bs-primary-rgb), .2);
  border-radius: 200px 0 0 200px;
  left:50% ;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}
.err{
  outline:2px solid var(--bs-danger) !important;
  border-color: transparent !important;
}
.container{
  padding-inline: 40px; 
}
.arrow-animation{
  animation : arrow 1s infinite;
}
@keyframes arrow{
  0%{
    transform: translateX(0px);
    opacity: 1;
  }
  70%{
    transform: translateX(15px);
    opacity: 0.9;
  }
  100%{
    transform: translateX(30px);
    opacity: 0;
  }
}
form{
  padding-block:35px 20px;
  border-radius:8px;
  
  h2{
    font-weight: 700;
    color: #333;    
  }
  label{
    font-weight: 600; 
    color: #333;    
  }
}
section{
  overflow-x: hidden;
}
.navbar{
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.096);
  .navbar-toggler{
    padding: 20px 25px;
    position: relative !important;
    .custom-navbar-toggler-icon{
      position: absolute;
      width: 65%;
      background-color: #464646;
      border-radius: 6px;
      height: 4px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,calc((var(--i) * 9px) - 50%));
      transition: .4s;
    }
    
  }
  span.hoverEffect{
    display: flex;
    width: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    background-color: #00f1;
    transform: scale(0);
    transform-origin: center;
    border-radius: 100px;
    @media screen and (max-width:768px) {
      display: none;
    }
  }
  .menu{
    position: relative;
    
  }
  .register-btn{
    position: relative;
    #signHoverEffect{
      background-color: var(--bs-primary) !important;
      color:var(--bs-white) !important;
      transform: scale(1);
    }
    .nav-item:nth-of-type(2){
      .nav-link{
        @media screen and (max-width:768px) {
          color: white !important;
          background-color: var(--bs-primary) ;
          border-radius: 10px;
        }
      }
    }
    .nav-item:nth-of-type(1){
      .nav-link{
        @media screen and (max-width:768px) {
          color: var(--bs-primary) !important;
        }
      }
    }
  }
    .nav-link{
      font-size:14px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      color: #999;
      position: relative;
      transition: .2s;
      i{
        transition: .2s;
      }
      &:hover{
        color: #555;
        
      }
      &.active{
        color: var(--bs-primary) !important;
      }
      @media (max-width:768px) {
        text-align: center;
      }
    }
}
.hero{
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  h2{
    position:relative;
    border-left:16px solid var(--bs-primary);
    padding-left: 8px;
    animation: border-animation 2s ease;
    @keyframes border-animation{
      from{
        opacity: 0;
        border-width: 0;
      }to{
        opacity: 1;
        border-width: 16px;
      }
    }
  }
  p{
    &.lead{
      border-left:16px solid var(--bs-secondary);
      padding-left: 8px;
      font-weight: 500;
      animation: border-animation 2s ease;
    }
  }
}
.users{
  min-height: 100vh;
  --bs-bg-opacity: .3;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  input[type='text']{
    --bs-bg-opacity: .5;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  }
  .w-100{
    overflow-x: auto;
  }
}
.card:hover{
  box-shadow: var(--bs-shadow);

}
